
*{
    background-color:#3D7CF2 ;
}
p {
    font-family: 'Source Sans Pro', sans-serif; 
}


title {
    font-size: 3rem ;
}
a {
    color:#BCC9D1;
    text-decoration: none;
    padding: 20px;
    }
    * {
        color:#BCC9D1;
        }
ul{
    text-decoration: underline;
}
#Recipe{
padding: 20px;

}